<div class="row">
  <div class="large-12">
    <h1>TimeOff</h1>
    <p>TimeOff helps to track how much vacation or holiday you have.</p>
    <a role="button" href="#" class="button large github-icon">Login with GitHub</a>
 </div>
</div>
